.main_page {
  font-family: "Roboto", sans-serif;
}

.inner_div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  -webkit-transform: translate(-50%, -70%);
  padding: 10px;
  width: 60vw;
  transition: transform 500ms ease-in-out, width 2s, height 4s;
}

.responsiveContainer {
  max-width: rem(500px);
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: em(400px)) {
    max-width: rem(600px);
  }

  @media (min-width: em(600px)) {
    max-width: rem(850px);
  }
}

.top {
  width: 50vw;
  -webkit-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
}

.caro_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caro_logo_image {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.caro_card {
  height: rem(350px);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.caro_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #dddddd;
  line-height: 1.2;
  font-size: rem(20px);
  margin-top: var(--mantine-spacing-xs);
}

.caro_category {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.scroll {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  bottom: 100px;
  right: 100px;
  z-index: 10;
  color: white;
}
